<app-menu-bar></app-menu-bar>
<div class="content">
  <div class="container__content">
    <app-card picturesrc="../../../assets/spider.jpg" gameLabel="Exclusivo" title="Jogue Agora!" console="PS5"
      price="299,99"></app-card>
    <app-card picturesrc="../../../assets/cod.jpg" gameLabel="Edição de Luxo" console="PS4 | PS5"
      price="229,99"></app-card>
    <app-card picturesrc="../../../assets/acmirage.jpg" gameLabel="Lançamento" title="Jogue Agora" console="PS5"
      price="349,99"></app-card>

  </div>
</div>