<div class="container__menu-bar">
  <div class="sony-bar"><img src="../../../assets/sony-logo-1.svg" alt="" srcset=""></div>
  <div class="upper-menu">
    <nav class="upper-menu-navigation">
      <li class="upper-navigation"><a href="">Jogos</a></li>
      <li class="upper-navigation"><a href="">Hardware</a></li>
      <li class="upper-navigation"><a href="">Serviços</a></li>
      <li class="upper-navigation"><a href="">Notícias</a></li>
      <li class="upper-navigation"><a href="">Loja</a></li>
      <li class="upper-navigation"><a href="">Suporte</a></li>
    </nav>
    <button class="login">Iniciar sessão</button>
  </div>
  <div class="menu">
    <img class="login" src="../../../assets/PlayStation Store.svg">
    <nav class="menu-navigation">
      <li class="navigation active"><a href="#">Novidades</a></li>
      <li class="navigation"><a href="#">Coleções</a></li>
      <li class="navigation"><a href="#">Ofertas</a></li>
      <li class="navigation"><a href="#">PS5</a></li>
      <li class="navigation"><a href="#">Assinaturas</a></li>
      <li class="navigation"><a href="#">Navegar</a></li>
    </nav>

  </div>
</div>